
<div class="container">
    <h3>Lists of condo</h3>
    <ul class="list-group" *ngFor="let listing of list">
       
        <li class="list-group-item"> Name: {{listing['listing_title']}}</li>
    
        <li class="list-group-item">Description: {{listing['listing_description']}}</li>
        <li class="list-group-item">City:{{listing['city']}}</li>
        <li class="list-group-item">Street:{{listing['street']}}</li>
        <li class="list-group-item">Postal code: {{listing['postal_code']}}</li>
        <li class="list-group-item">Price: {{listing['price'] |currency}}</li>
        <li class="list-group-item">Email: {{listing['email']}}</li>
        <button class=" btn btn-success" type="button">Book</button>
        <br>
    
    </ul>
</div>
